@charset "UTF-8";
html {
  height: 100%; }

body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  height: 100%;
  font: 14px/1.4 "ヒラギノ角ゴシック", "Hiragino Sans", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Helvetica, Arial, Verdana, sans-serif; }

hr {
  display: none; }

img {
  vertical-align: top; }

/*
## .carousel_1
使用箇所：
内容：
*/
.carousel_1 {
  overflow: hidden;
  position: relative;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.1); }
  .carousel_1__1 {
    display: none;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto; }
    .carousel_1__1.slick-initialized {
      display: block; }
  .carousel_1 .slick-list {
    overflow: visible; }
  .carousel_1 .slick-track {
    display: flex;
    align-items: center; }
  .carousel_1 .slick-slide {
    float: none; }
  .carousel_1__item {
    width: 350px;
    padding: 0 24px;
    box-sizing: border-box; }
    .carousel_1__item.slick-active {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 380px;
      border: solid 1px blue;
      background-color: yellow;
      box-sizing: border-box; }
      .carousel_1__item.slick-active .carousel_1__2 {
        width: 303px;
        height: 380px;
        margin: 0 !important;
        border-color: red; }
      .carousel_1__item.slick-active + .slick-slide .carousel_1__2 {
        margin: 0 auto 0 0; }
    .carousel_1__item.slick-current .carousel_1__2 {
      border-width: 4px; }
  .carousel_1__2 {
    width: 243px;
    margin: 0 0 0 auto;
    border: solid 1px #000;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 305px; }
  .carousel_1 .slick-arrow {
    position: absolute;
    top: 50%;
    width: 47px;
    height: 47px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 0;
    line-height: 0;
    background: #007377;
    border: 0;
    border-radius: 50%;
    z-index: 1; }
  .carousel_1 .slick-prev {
    left: -50px; }
  .carousel_1 .slick-next {
    right: -50px; }
  @media (max-width: 767px) {
    .carousel_1__1 {
      max-width: 74.67vw; }
    .carousel_1__2 {
      width: 74.67vw;
      height: 80.8vw !important; }
    .carousel_1__item {
      padding: 0 5.13vw; }
      .carousel_1__item.slick-active {
        height: 80.8vw; }
        .carousel_1__item.slick-active .carousel_1__2 {
          width: 64.4vw;
          height: 80.8vw; }
    .carousel_1 .slick-arrow {
      width: 10vw;
      height: 10vw; }
    .carousel_1 .slick-prev {
      left: -10.4vw; }
    .carousel_1 .slick-next {
      right: -10.4vw; } }

/*
## .input_1
*/
.input_1 {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

/*
## .modal_1
使用箇所：
内容：
*/
.modal_1 {
  display: none;
  padding: 54px;
  background-color: #fff;
  box-shadow: 0 3px 20px 0 rgba(47, 71, 85, 0.46); }
  .mfp-content .modal_1 {
    display: block; }

.mfp-content {
  max-width: 800px;
  margin: 0 auto; }
  @media (max-width: 767px) {
    .mfp-content {
      max-width: 86.67vw; } }

/*
## .placeholder_2
*/
.placeholder_2 {
  position: relative;
  display: inline-block;
  vertical-align: top; }
  .placeholder_2 .placeholder {
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #aaa;
    font-weight: normal;
    box-sizing: border-box; }
  .placeholder_2 textarea {
    position: relative;
    margin: 0;
    width: 100%;
    background-color: transparent;
    vertical-align: top; }

/*
## .placeholder_1
*/
textarea.placeholder_1.is_placeholder {
  color: #aaa; }

/*
## .g_header_1
*/
/*
## .g_footer_1
*/
/*
## .g_nav_1
*/
/*
## .l_wrapper_1
*/
/*
## .l_container_1
*/
.is_none {
  display: none !important; }
