/*
## .carousel_1
使用箇所：
内容：
*/

.carousel_1 {
  $self: &;
  $height: 380px;
  overflow: hidden;
  position: relative;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0,0,0,.1);
  &__1 {
    display: none;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    &.slick-initialized{
      display: block;
    }
  }
  .slick-list {
    overflow: visible;
  }
  .slick-track {
    display: flex;
    align-items: center;
  }
  .slick-slide {
    float: none;
  }
  &__item {
    width: 350px;
    padding: 0 24px;
    box-sizing: border-box;
    //transition: width 1s;
    //background-color: yellow;
    &.slick-active {
      display: flex;
      align-items: center;
      justify-content: center;
      height: $height;
      
      border: solid 1px blue;
      background-color: yellow;
      box-sizing: border-box;
      
      #{$self}__2 {
        width: 303px;
        height: $height;
        margin: 0 !important;
        border-color: red;
      }
      & + .slick-slide {
        #{$self}__2 {
          margin: 0 auto 0 0;
        }
      }
    }
    &.slick-current {
      #{$self}__2 {
        border-width: 4px;
      }
    }
  }
  &__2 {
    width: 243px;
    margin: 0 0 0 auto;
    border: solid 1px #000;
    border-radius: 3px;
    box-sizing: border-box;
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 305px;
    //transition: width 1s, height 1s;
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    width: 47px;
    height: 47px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 0;
    line-height: 0;
    background: #007377;
    border: 0;
    border-radius: 50%;
    z-index: 1;
  }
  .slick-prev {
    left: -50px;
  }
  .slick-next {
    right: -50px;
  }
  @media (max-width: $breakpoint1) {
    &__1 {
      max-width: 74.67vw;
    }
    &__2 {
      width: 74.67vw;
      height: 80.8vw !important;
    }
    &__item {
      //width: 64.4vw !important;
      padding: 0 5.13vw;
      &.slick-active {
        height: 80.8vw;
        #{$self}__2 {
          width: 64.4vw;
          height: 80.8vw;
        }
      }
    }
    .slick-arrow {
      width: 10vw;
      height: 10vw;
    }
    .slick-prev {
      left: -10.4vw;
    }
    .slick-next {
      right: -10.4vw;
    }
  }
}
