/*
## .modal_1
使用箇所：
内容：
*/

.modal_1 {
  display: none;
  padding: 54px;
  background-color: #fff;
  box-shadow: 0 3px 20px 0 rgba(47,71,85,.46);
  .mfp-content & {
    display: block;
  }
}

.mfp-content {
  max-width: 800px;
  margin: 0 auto;
  @media (max-width: $breakpoint1) {
    max-width: 86.67vw;
  }
}
