<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

<title>HTML Samples</title>

</head>
<body>

<figure>
  <figcaption>えええ</figcaption>
  <img src="img.jpg" alt="">
  <p><small>あああ</small></p>
</figure>

</body>
</html>